<div class="col-sm-6">
  <div class="panel panel-success">
    <% if (typeof model.id != 'undefined') { %>
    <div class="panel-heading">
      <h3 class="panel-title">Vehicle Details: <%= model.get("model") %></h3>
    </div>
    <div class="panel-body">
      <ul class="vehicle-model">
        <li>ID: <%= model.id %></li>
        <li>Engine Volume: <%= model.get("engine_volume") %></li>
        <li>Cylinders: <%= model.get("cylinders") %></li>
        <li>Transmission: <%= model.get("transmission") %></li>
        <li>Drive: <%= model.get("drive") %></li>
        <li>Fuel: <%= model.get("fuel") %></li>
        <li>Sales Area: <%= model.get("sales_area") %></li>
        <li>Stnd: <%= model.get("stnd") %></li>
        <li>Description: <%= model.get("description") %></li>
        <li>Underhood ID: <%= model.get("underhood_id") %></li>
        <li>Air Pollution Score: <%= model.get("air_pollution_score") %></li>
        <li>City MPG: <%= model.get("city_mpg") %></li>
        <li>Highway MPG: <%= model.get("hwy_mpg") %></li>
        <li>Combined MPG: <%= model.get("combined_mpg") %></li>
        <li>Greenhouse Gas Score: <%= model.get("greenhouse_gas_score") %></li>
        <li>Smart Way: <%= model.get("smart_way") %></li>
        <li>Make ID: <%= model.get("vehicle_make_id") %></li>
        <li>Source: <%= model.get("source") %></li>
        <li>Vehicle class ID: <%= model.get("vehicle_class_id") %></li>
        <li>Model Year: <%= model.get("model_year") %></li>
      </ul>
    </div>
    <% } else { %>
    <div class="panel-heading">
      <h3 class="panel-title">Vehicle Details</h3>
    </div>
    <% } %>
  </div>
</div>
