<div class="col-sm-4">
  <div class="panel <% if (model.get('smart_way')) { %>panel-success<% } else { %>panel-default<% } %>">
    <% if (typeof model.id != 'undefined') { %>
    <div class="panel-heading">
      <h3 class="panel-title"><%= model.get("model") %> (<%= model.get("model_year") %>)<% if (model.get('smart_way')) { %> - *Smart Way<% } %></h3>
    </div>
    <div class="panel-body">
      <h4>Vehicle Summary</h4>
      <ul class="vehicle-summary">
        <li>Drive: <%= model.get("drive") %></li>
        <li>Fuel: <%= model.get("fuel") %></li>
        <% if (model.get("smart_way")) { %>
          <li>Rated 'Smart Way' by the US EPA</li>
        <% } %>
      </ul>

      <h4>Environmental Data</h4>
      <ul class="vehicle-model">
        <li>Air Pollution Score:
          <% if (model.get("air_pollution_score_percentage") == 0) { %>N/A<% } else { %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar"aria-valuenow="<%= model.get("air_pollution_score") %>" aria-valuemin="<%= model.get("air_pollution_score_min") %>" aria-valuemax="<%= model.get("air_pollution_score_max") %>" style="width: <%= model.get("air_pollution_score_percentage") %>%">
              <%= model.get("air_pollution_score") %>
            </div>
          </div>
          <% } %>
        </li>
        <li>Greenhouse Gas Score:
          <% if (model.get("greenhouse_gas_score_percentage") == 0) { %>N/A<% } else { %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar"aria-valuenow="<%= model.get("greenhouse_gas_score") %>" aria-valuemin="<%= model.get("greenhouse_gas_score_min") %>" aria-valuemax="<%= model.get("greenhouse_gas_score_max") %>" style="width: <%= model.get("greenhouse_gas_score_percentage") %>%">
              <%= model.get("greenhouse_gas_score") %>
            </div>
          </div>
          <% } %>
        </li>
        <li>City MPG:
          <% if (model.get("city_mpg_percentage") == 0) { %>N/A<% } else { %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar"aria-valuenow="<%= model.get("city_mpg") %>" aria-valuemin="<%= model.get("city_mpg_min") %>" aria-valuemax="<%= model.get("city_mpg_max") %>" style="width: <%= model.get("city_mpg_percentage") %>%">
              <%= model.get("city_mpg") %>
            </div>
          </div>
          <% } %>
        </li>
        <li>Highway MPG:
          <% if (model.get("hwy_mpg_percentage") == 0) { %>N/A<% } else { %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar"aria-valuenow="<%= model.get("hwy_mpg") %>" aria-valuemin="<%= model.get("hwy_mpg_min") %>" aria-valuemax="<%= model.get("hwy_mpg_max") %>" style="width: <%= model.get("hwy_mpg_percentage") %>%">
              <%= model.get("hwy_mpg") %>
            </div>
          </div>
          <% } %>
        </li>
        <li>Combined MPG:
          <% if (model.get("combined_mpg_percentage") == 0) { %>N/A<% } else { %>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar"aria-valuenow="<%= model.get("combined_mpg") %>" aria-valuemin="<%= model.get("combined_mpg_min") %>" aria-valuemax="<%= model.get("combined_mpg_max") %>" style="width: <%= model.get("combined_mpg_percentage") %>%">
              <%= model.get("combined_mpg") %>
            </div>
          </div>
          <% } %>
        </li>
      </ul>
    </div>
    <% } else { %>
    <div class="panel-heading">
      <h3 class="panel-title">Vehicle Details</h3>
    </div>
    <% } %>
  </div>
</div>
